:root {
  --color-dark: #030303;
  --color-red: #710707;
  --color-gold: #9d8665;
  --font-h2: 80px;
  --font-text: 22px;
  --margin: 75px;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('./assets/fonts/Roboto-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto-Thin';
  src: url('./assets/fonts/Roboto-Thin.ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'Forum';
  src: url('./assets/fonts/Forum-Regular.ttf');
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  background-color: var(--color-dark);
}

h1 {
  font-family: 'Forum';
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff;
}

h2 {
  margin: 0;
  font-family: 'Forum';
  font-size: var(--font-h2);
  font-weight: 400;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.container {
  max-width: 1440px;
  margin: 0px auto;
}

.bg-light {
  color: var(--color-dark);
  background-color: #fff;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  transition: 1s;
}

a:hover,
a:active {
  color: var(--color-gold);
  transition: 0.5s;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 41px 0 40px 0;
}

.logo {
  display: flex;
  align-items: baseline;
  gap: 25px;
}
.logo img {
  width: 49px;
  height: 26px;
}

.nav-list {
  display: flex;
  gap: 56px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto-Thin';
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  list-style: none;
}

/********WELCOME****************************/
.Welcome {
  position: relative;
}

.Welcome .container {
  position: relative;
  display: flex;
  justify-content: end;
  padding-bottom: 60px;
}

.welcome-text {
  position: absolute;
  top: 150px;
  left: 0;
  font-family: 'Roboto-Light';
  z-index: 2;
}

.welcome-text p {
  font-size: 28px;
  letter-spacing: 2px;
  color: #fff;
}

.Welcome a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 360px;
  margin-top: 45px;
  font-size: var(--font-text);
  line-height: var(--margin);
  letter-spacing: 2px;
  color: white;
  background-color: var(--color-red);
  border-radius: 10px;
}
.Welcome a:hover,
a.active {
  background-color: var(--color-gold);
}

.welcome-button {
  height: var(--margin);
}

.welcome-img {
  display: flex;
  justify-content: end;
  width: 70%;
  height: auto;
  mask-image: linear-gradient(to left, #000 55%, transparent 100%);
}

.welcome-slider-ctrl {
  display: flex;
  align-items: center;
  position: absolute;
  width: 600px;
  height: 120px;
  background-color: var(--color-dark);
  bottom: 0%;
  gap: 58px;
}

.welcome-slider-ctrl-num {
  display: flex;
  padding-left: var(--margin);
  font-family: Roboto;
  font-weight: 400;
  font-size: 22px;
  line-height: 40px;
  gap: 11px;
  color: #fff;
}

.welcome-slider-ctrl-wrapper {
  display: flex;
  gap: 25px;
}

.welcome-slider-ctrl-square {
  width: 16px;
  height: 16px;
  cursor: pointer;
  background-color: #fff;
}

.welcome-slider-ctrl-square:hover {
  background-color: var(--color-gold);
}

.welcome-slider-ctrl-active {
  background-color: #bb9f78;
}

.welcome-slider-ctrl-arrow-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 80px;
  height: 40px;
}

.welcome-slider-ctrl-arrow-wrapper a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--color-dark);
  margin: 0;
}

.welcome-slider-ctrl-arrow-wrapper a:hover {
  background-color: var(--color-dark);
}

.welcome-slider-ctrl-arrow-wrapper a:hover svg path {
  fill: var(--color-gold);
}

/******Visiting**********/
.Visiting {
  padding: var(--margin) 0;
}

.Visiting .divider,
.Tickets .divider,
.Contacts .divider {
  margin: 25px 0 44px 0;
  height: 3px;
  background-color: var(--color-red);
}

.visiting-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--margin);
  column-gap: 60px;
  margin-top: var(--margin);
}

.visiting-link {
  display: block;
  text-decoration: none;
}

.visiting-image {
  width: 440px;
  height: 285px;
}

.visiting-list h3 {
  margin-top: 22px;
  margin-bottom: 22px;
  font-family: 'Forum', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--color-dark);
}

.visiting-list p {
  margin: 10px 0px;
  margin-bottom: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: var(--font-text);
  line-height: 26px;
  letter-spacing: 0;
  color: var(--color-dark);
}
.visiting-list .visiting-p-small {
  font-size: 18px;
  line-height: 21px;
}
.underline-title {
  position: relative;
}

.visiting-link .underline-title::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 300px;
  height: 2px;
  background: var(--color-red);
  border-radius: 0px;
}

.visiting-link:hover .underline-title::after {
  width: 100%;
  left: 0;
  transition: 0.5s;
}

/******Explore**********/

.Explore {
  padding: var(--margin) 0;
}

.Explore .container {
  display: flex;
}

.explore-section-left {
  width: 660px;
  font-weight: 300;
  font-family: Roboto, sans-serif;
  font-size: var(--font-text);
  line-height: 38.5px;
  letter-spacing: 0px;
}
.explore-section-left h2 {
  line-height: 90px;
}

.explore-section-left .divider {
  margin-top: 25px;

  height: 3px;
  background-color: var(--color-red);
}
.explore-section-left span {
  color: var(--color-gold);
}

.section-explore-p {
  margin-top: var(--margin);
}

.explore-image-container {
  position: relative;
  width: 720px;
  height: 700px;
}

.explore-image-container img {
  position: absolute;
  top: 15px;
  left: 60px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.explore-image-before {
  clip-path: inset(0 280px 0 0);
}

.explore-image-after {
  clip-path: inset(0 0 0 440px);
}

.divider-overlay {
  position: absolute;
  top: 15px;
  left: 480px;
  width: 39px;
  height: 700px;
  z-index: 2;
}

.divider-overlay svg {
  display: block;
  width: 39px;
  height: 700px;
}

.divider-overlay:hover path {
  cursor: pointer;
  fill: #9d8665;
}

/******Video**********/

.video {
  padding-top: 55px;
}

.video-text-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.video-text {
  font-family: 'Roboto-Light';
  font-size: 22px;
  color: #000;
  line-height: 39.5px;
  width: 50%;
}

.main-video {
  margin-top: 62px;
}

.main-wrapper-video-control {
  position: relative;
}

.main-video-img {
  width: 100%;
}

.main-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: fill 0.5s;
  cursor: pointer;
  transform: translate(-50%, -50%);
}

.main-play {
  .main-play-path-first {
    transition: fill 0.5s;
  }

  .main-play-path-second {
    transition: fill 0.5s;
  }
}

.main-play:hover {
  .main-play-path-first {
    transition: fill 0.5s;
    fill: var(--dark-red);
  }

  .main-play-path-second {
    transition: fill 0.5s;
    fill: var(--dark-red);
  }
}
